= form_for(@serve, :html => { :multipart => true }) do |f|
  - if @serve.errors.any?
    #error_explanation
      %h2
        = pluralize(@serve.errors.count, "error")
        prohibited this serf from being saved:
      %ul
        - @serve.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :player_name
    = f.text_field :player_name
  .field
    = f.label :time_1
    = f.text_field :time_1
  .field
    = f.label :serve_length
    = f.select(:serve_length, ['short','long'])
  .field
    = f.label :serve_spin
    = f.select(:serve_spin, ['top-left', 'top-middle', 'top-right', 'left', 'none', 'right', 'bottom-left', 'bottom-middle', 'bottom-right'])
  .field
    = f.label :serve_direction
    = f.select(:serve_direction, ['left', 'middle', 'right'])
  .field
    = f.label :player_grip
    = f.text_field :player_grip
  .field
    = f.label :video, "File"
    = f.file_field :video
  .actions
    = f.submit
