%h1 Listing serves
%table
  %thead
    %tr
      %th Player name
      %th Time 1
      %th Serve length
      %th Serve spin
      %th Serve direction
      %th Player grip
      %th
      %th
      %th
  %tbody
    - @serves.each do |serve|
      %tr
        %td= serve.player_name
        %td= serve.time_1
        %td= serve.serve_length
        %td= serve.serve_spin
        %td= serve.serve_direction
        %td= serve.player_grip
        %td= link_to 'Show', serve
        %td= link_to 'Edit', edit_serve_path(serve)
        %td= link_to 'Destroy', serve, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Serve', new_serve_path
