#fb-root
%script
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.question-container
  .explanation
    Watch the first half of the serve, and predict as much as you can about it. If you're confused about
    what the choices mean, hover over "Length", "Direction" and "Spin" for an explanation. Note that the answers
    are based on interpretation and things like precise direction and length could be
    debated. Luckily, this is a game and none of your answers really matter!
  %br
  .loading.text-center
    = image_tag 'ajax_loader.gif'
  #video-error.text-center
    Sorry! Your browser does not support HTML5 video using H264. Try a different
    browser. If you're using Linux, Chrome should do the trick.
  .video-container
    %video{preload: :auto}
      Your browser does not support HTML5 video using H264.
  .text-center
    %button.start-video
      Start
    .replay-video
      %button.replay-normal
        Show me again!
      %button.replay-slow
        Show me in slow motion!
  %br
  .answer-choices
    .direction-choices.choice-container
      .choice-header{title: 'Which part of the receiver\'s side of the court does the ball bounce on?'} Direction
      .choice-images
        = image_tag 'out-wide.png', 'data-choice' => 'serve_direction', 'data-value' => 'out-wide', 'title' => ''
        = image_tag 'down-the-middle.png', 'data-choice' => 'serve_direction', 'data-value' => 'down-the-middle', 'title' => ''
    .spin-choices.choice-container
      .choice-header{title: 'What spin does the serving player impart to the ball?'} Spin
      .choice-images
        = image_tag 'flat.png', 'data-choice' => 'serve_spin', 'data-value' => 'flat', 'title' => ''
        = image_tag 'slice.png', 'data-choice' => 'serve_spin', 'data-value' => 'slice', 'title' => ''
        = image_tag 'kick.png', 'data-choice' => 'serve_spin', 'data-value' => 'slice', 'title' => ''
    .text-center
      %br
      %button.show-answer{title: 'Make your predictions before you click this'}
        Did I get aced?
  .result-success.text-center
    %h3
      Success!
    You probably would have smashed that serve so hard that you'd have broken the ball and your opponent's spirit
    %br
    %br
    %button.next-question
      Next Serve
  .result-failure.text-center
    %h3
      Missed!
    Where'd the ball go?
    %br
    %br
    %button.next-question
      Next Serve

.question-data.text-center
.text-center
  = @serve_count
  serves in the database at the moment

.text-center
  Load Serve #
  = text_field_tag :serve_id, '', style: 'width: 50px'
  %button.btn-minor{onclick: 'loadServe()'}
    Load

.blurb
  %p
    This website is very much a work in progress, so please do give me your
    feedback and whether you think it's interesting enough to keep working on at
    %strong admin@rohitnair.net
  %p
    If you think the answer I've set for a particular serve is wrong, please do
    email me with what you think the correct answer is.
  %br
  %br
  .fb-like{'data-href' => 'http://ace.rohitnair.net', 'data-layout' => 'standard', 'data-action' => 'like', 'data-show-faces' => 'true', 'data-share' => 'true', 'style' => 'width: 300px; margin: 0 auto;'}
