#fb-root
%script
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.question-container
  .explanation
    Watch the first half of the serve, and predict as much as you can about it. If you're confused about
    what the choices mean, hover over "Length", "Direction" and "Spin" for an explanation. Note that the answers
    are based on interpretation and things like precise direction and length could be
    debated. Luckily, this is a game and none of your answers really matter!
  %br
  .loading.text-center
    = image_tag 'ajax_loader.gif'
  #video-error.text-center
    Sorry! Your browser does not support HTML5 video using H264. Try a different
    browser. If you're using Linux, Chrome should do the trick.
  .video-container
    %video{preload: :auto}
      Your browser does not support HTML5 video using H264.
  .text-center
    %button.start-video
      Start
    .replay-video
      %button.replay-normal
        Show me again!
      %button.replay-slow
        Show me in slow motion!
  %br
  .answer-choices
    .length-choices
      .choice-header{title: 'Does the serve bounce more than once on the receiver\'s side?'} Length
      .choice-images
        = image_tag 'short.png', 'data-choice' => 'serve_length', 'data-value' => 'short', 'title' => 'The serve will bounce multiple times on the receiver\'s side'
        = image_tag 'long.png', 'data-choice' => 'serve_length', 'data-value' => 'long', 'title' => 'The serve will bounce only once on the receiver\'s side'
    .direction-choices
      .choice-header{title: 'Which part of the receiver\'s side of the table does the ball bounce on?'} Direction
      .choice-images
        = image_tag 'left.png', 'data-choice' => 'serve_direction', 'data-value' => 'left', 'title' => 'If the receiver\'s side of the table was split into 3 sections, the serve will land on the left-most one'
        = image_tag 'middle.png', 'data-choice' => 'serve_direction', 'data-value' => 'middle', 'title' => 'TIf the receiver\'s side of the table was split into 3 sections, the serve will land in the middle section'
        = image_tag 'right.png', 'data-choice' => 'serve_direction', 'data-value' => 'right', 'title' => 'TIf the receiver\'s side of the table was split into 3 sections, the serve will land on the right-most one'
    .spin-choices
      .choice-header{title: 'What spin does the serving player impart to the ball?'} Spin
      .choice-images
        = image_tag 'topspin.png', 'data-choice' => 'serve_spin', 'data-value' => 'topspin', 'title' => 'The serve will have topspin on it'
        = image_tag 'backspin.png', 'data-choice' => 'serve_spin', 'data-value' => 'backspin', 'title' => 'The serve will have backspin on it'
    %span.text-center
      %button.show-answer{title: 'Make your predictions before you click this'}
        Did I get aced?
  .result-success.text-center
    %h3
      Success!
    You probably would have smashed that serve so hard that you'd have broken the ball and your opponent's spirit
    %br
    %br
    %button.next-question
      Next Serve
  .result-failure.text-center
    %h3
      Missed!
    Where'd the ball go?
    %br
    %br
    %button.next-question
      Next Serve

.question-data.text-center
.text-center
  = @serve_count
  serves in the database at the moment

.text-center
  Load Serve #
  = text_field_tag :serve_id, '', style: 'width: 50px'
  %button.btn-minor{onclick: 'loadServe()'}
    Load

.blurb
  This website is very much a work in progress, so please do give me your
  feedback and whether you think it's interesting enough to keep working on at
  %strong admin@rohitnair.net
  %br
  %br
  .fb-like{'data-href' => 'http://ace.rohitnair.net', 'data-layout' => 'standard', 'data-action' => 'like', 'data-show-faces' => 'true', 'data-share' => 'true', 'style' => 'width: 300px; margin: 0 auto;'}
