%p#notice= notice
%p
  %strong Player name:
  = @serve.player_name
%p
  %strong Time 1:
  = @serve.time_1
%p
  %strong Serve spin:
  = @serve.serve_spin
%p
  %strong Serve direction:
  = @serve.serve_direction

%h4 Video
%video{src: @serve.video.url, controls: '', preload: :auto}
%br
%span
  = text_field_tag :pause_time, @serve.time_1
  %button{onclick: 'testPause()'}
    Test Pause
%br
= link_to 'Edit', edit_serve_path(@serve)
|
\#{link_to 'Back', serves_path}
