%p#notice= notice
%p
  %strong Player name:
  = @serve.player_name
%p
  %strong Time 1:
  = @serve.time_1
%p
  %strong Time 2:
  = @serve.time_2
%p
  %strong Serve length:
  = @serve.serve_length
%p
  %strong Serve spin:
  = @serve.serve_spin
%p
  %strong Serve direction:
  = @serve.serve_direction
%p
  %strong Player grip:
  = @serve.player_grip

%h4 Video
%video{src: @serve.video.url}
%br

= link_to 'Edit', edit_serve_path(@serve)
|
\#{link_to 'Back', serves_path}
